.banner {
  padding-top: 5px;
  background-color: #FFF8DC;
  width: 100%;
  height: 50px;
  position: relative;
  a {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .banner_contents {
    @include clearfix;
    width: 300px;
    position: relative;
    margin: 0 auto;

    .banner_img {
      margin-top: 10px;
      width: 15%;
      float: left;
      text-align: center;
      img {
        text-align: center;
        width: 90%;
        height: 90%;
      }
    }

    .banner_message {
      margin-top: 10px;
      width: 55%;
      float: left;
      .main_message {
        font-weight: bold;
        font-size:14px;
      }
      .sub_message {
        font-size:12px;
      }
    }

    .banner_button {
      background-color: #FF6633;
      color: #fff;
      font-size:9px;
      margin-top: 10px;
      width: 25%;
      float: left;
      text-align: center;
      border: solid 1px #FF6633;
      border-radius: 9px;
      -webkit-border-radius: 9px;
      -moz-border-radius: 9px;
      padding : 7px 1px;
    }
  }
}
